---

---

<section id='committed'>
	<div id='committed--contain'>
		<img
			id='committed--image'
			src='./aboutus.webp'
			alt='men walking around in forrest in high oragne vests'
			height='840'
			width='615'
		/>
		<div id='committed--text'>
			<h2>Who we are</h2>
			<p>
				Victoria Bunker, Inc., is a branch of Heritage Consultants, LLC, and
				provides a range of archeological consulting services for Federal, State
				and Local government agencies, utilities, engineering firms, developers,
				conservation and heritage commissions, and private individuals. Our
				combined expertise includes all levels of archeological surveys (Phase
				IA, IB, II and III), remote sensing surveys (GPR and magnetometer),
				cemetery relocations, architectural survey and assessment, and
				historical studies. We prepare research designs, National and State
				Register eligibility statements and contribute to Environmental Impact
				Statements for Native American sites as well as European-American urban,
				rural, industrial, military, ritual and funerary resources.
			</p>
		</div>
	</div>
</section>

<style>
	#committed {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px;
		width: 100%;
		max-width: 1920px;
		background-color: #194259;
		height: fit-content;
	}
	#committed--contain {
		max-width: 1920px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		justify-items: left;
	}
	#committed--text {
		padding-left: 80px;
	}

	#committed--text > h2 {
		color: #fff;
		font-family: Noto Serif;
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: 80px; /* 142.857% */
		letter-spacing: -0.84px;
		margin: 56px 0px 8px 0px;
	}
	#committed--text > p {
		color: #fff;
		font-family: 'Montserrat', san-serif;
		font-size: 18px;
		font-weight: 100;
		line-height: 30px; /* 166.667% */
		letter-spacing: -0.27px;
		max-width: 540px;
		margin-bottom: 60px;
	}

	#committed--image {
		max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-size: cover;
	}

	@media only screen and (max-width: 1300px) {
		#committed--contain {
			grid-template-columns: 2fr 1fr;
		}
		#committed--text {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
		#committed--image {
			justify-self: unset;
			grid-column: 2 / 3;
		}
	}

	@media only screen and (max-width: 1000px) {
		#committed--contain {
			grid-template-columns: 1fr;
			justify-items: center;
		}
		#committed--text {
			padding: 16px;
		}
		#committed--text > h2 {
			font-size: 2.4rem;
			margin-top: 24px;
			text-align: center;
		}
		#committed--text > p {
			margin-bottom: 24px;
		}
		#committed--image {
			grid-column: 1 / 2;
		}
	}
</style>
