---
import { Icon } from 'astro-icon';
---

<footer>
	<img src='/VBI_alt.svg' height='90' width='171' alt='' />
	<a href='tel:603-776-4306' aria-label='603.776.4306'
		><Icon pack='feather' name='phone' /> 603.776.4306</a
	>
	<a
		href='mailto:DGEORGE@VICTORIABUNKER.COM'
		aria-label='email us at DGEORGE@VICTORIABUNKER.COM'
		><Icon pack='feather' name='mail' /> DGeorge@VictoriaBunker.com</a
	>
	<a
		href='geo:41.6279307,-72.74313'
		target='_blank'
		aria-label='visit us at 31 Africa Road Alton, NH 03809'
		><Icon pack='feather' name='map-pin' /> 31 Africa Road Alton, NH 03809</a
	>
	<p>Copyright ©2023 Victoria Bunker, LLC</p>
</footer>
<style>
	[astro-icon] {
		height: 2rem;
		margin: 0 1rem -2px 1rem;
		display: inline-flex;
		flex-direction: row;
		align-items: end;
		color: #194259;
	}
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #194259;
		padding: 40px 0 40px 0;
		background-color: #fff;
		width: 100%;
	}
	footer > a {
		text-decoration: none;
		color: #194259;
		font-size: 1.2rem;
		margin-bottom: 16px;
		transition: color 0.2s ease;
	}

	footer > p {
		margin: 0;
		margin-top: 16px;
		font-size: 12px;
	}
	footer > img {
		margin-bottom: 32px;
	}

	footer > a > [astro-icon] {
		height: 16px;
		margin-right: 0.6rem;
		margin-left: 0;
	}
	.social {
		display: flex;
		max-width: fit-content;
		margin: 16px;
	}
	.social > a {
		transition: color 0.2s ease;
	}

	footer > a:hover,
	.social > a:hover,
	footer > a:hover > [astro-icon],
	.social > a:hover > [astro-icon] {
		color: #004575;
	}

	@media only screen and (max-width: 700px) {
		footer > a {
			font-size: 1rem;
			margin-bottom: 24px;
		}
	}
</style>
