---

---

<div id='hero'>
	<h1>40 YEARS <br />OF HISTORY</h1>
	<p>
		in cultural resources management throughout<br />New Hampshire and northern
		New England.<br />
	</p>
	<div id='hero--buttons'>
		<a href='/#services' role='button' class='button'>Our Services</a>
		<a href='/#contact' role='button' class='button'>Contact Us</a>
	</div>
</div>

<style>
	#hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: calc(100vh - 180px);
		height: calc(100svh - 90px);
		width: 100vw;
		background-color: #fff;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url('/hero.webp');
	}

	#hero > h1 {
		color: #fff;
		text-align: center;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 90px;
		font-family: Noto Serif;
		font-style: normal;
		font-weight: 400;
		line-height: 81px; /* 90% */
		margin: 0px;
	}
	#hero > p {
		color: #fff;
		text-align: center;
		font-size: 24px;
		font-weight: 100;
		line-height: 36px; /* 150% */
		letter-spacing: -0.36px;
		margin: 2rem;
	}
	#hero--buttons {
		display: flex;
		gap: 48px;
	}

	.button {
		text-align: center;
		padding: 1em 2em;
		border: none;
		border-radius: 5px;
		font-weight: bold;
		letter-spacing: 2px;
		color: #ffffff;
		transition: all 1000ms;
		font-size: 1rem;
		position: relative;
		overflow: hidden;
		outline: 2px solid #23798b;
		background-color: #23798b;
		text-decoration: none;
	}

	.button:first-child {
		outline: 2px solid #194259;
		background-color: #194259;
	}

	.button:hover {
		color: #2c9caf;
		transform: scale(1.1);
		outline: 2px solid #23798b;
		box-shadow: 4px 5px 17px -4px #23798b;
	}

	.button:first-child:hover {
		color: #194259;
		transform: scale(1.1);
		outline: 2px solid #194259;
		box-shadow: 4px 5px 17px -4px #194259;
		cursor: pointer;
	}

	.button::before {
		content: '';
		position: absolute;
		left: -50px;
		top: 0;
		width: 0;
		height: 100%;
		background-color: #fff;
		transform: skewX(45deg);
		z-index: -1;
		transition: width 1000ms;
	}

	.button:hover::before {
		width: 250%;
	}

	@media only screen and (max-width: 700px) {
		#hero {
			height: calc(100vh - 140px);
			height: calc(100svh - 70px);
		}
		#hero > h1 {
			font-size: 3.2rem;
			line-height: 4rem;
		}
		#hero > p {
			font-size: 1.2rem;
			margin: 32px 8px 32px 8px;
		}
		#hero > p > br {
			display: none;
		}
		#hero--buttons {
			flex-direction: column;
			gap: 16px;
			font-size: 1.2rem;
		}
	}

	@media only screen and (max-height: 400px) {
		#hero {
			height: calc(100vh - 70px);
			height: calc(100svh - 70px);
		}
		#hero > h1 {
			font-size: 2.4rem;
			line-height: 3.2rem;
		}
		#hero > p {
			font-size: 1rem;
			margin: 16px 0px 30px 0px;
			line-height: 1.6rem;
		}

		#hero--buttons {
			flex-direction: row;
			gap: 16px;
			font-size: 1.2rem;
		}
		#hero--buttons > a,
		#hero--buttons > a:first-child {
			margin: 0px 8px;
		}
	}
</style>
