---

---

<section id='services'>
	<div id='services--selector'>
		<h2>Our Services</h2>
		<button data-topic='arch' data-height='112' class='services--button active'
			>Archaeology</button
		>
		<button data-topic='history' data-height='190' class='services--button'
			>Architectural History</button
		>
		<button data-topic='gis' data-height='282' class='services--button'
			>Geographic and <br />Information Services</button
		>
		<button data-topic='cemetery' data-height='388' class='services--button'
			>Cemetery Evaluation <br />and Excavation</button
		>
		<button data-topic='gis2' data-height='478' class='services--button'
			>Geophysical Services</button
		>
	</div>
	<div id='services--selector--mobile'>
		<h2>Services</h2>
		<select id='services--picker__mobile' aria-label='Services'>
			<option data-topic='arch'>Archaeology</option>
			<option data-topic='history'>Architectural History</option>
			<option data-topic='gis'>Geographic and Information Services</option>
			<option data-topic='cemetery'>Cemetery Evaluation and Excavation</option>
			<option data-topic='gis2'>Geophysical Services</option>
		</select>
	</div>

	<div id='services--descs'>
		<div id='arch' class='services--descs--contain active'>
			<h3>Archaeology</h3>
			<p>
				Archaeological investigation is undertaken in a phased approach,
				including assessment of the project area (Phase IA), identification and
				recordation of archaeological resources (Phase IB), assessment of their
				National Register eligibility (Phase II), and mitigation of potential
				impacts to significant archaeological resources through avoidance or
				data recovery (Phase III). To successfully navigate this process, we
				employ a variety of strategies including consultation with interested
				parties, traditional archaeological excavation, remote sensing, GIS
				applications, construction monitoring, and detailed reporting of
				findings, among others. All of our projects are conducted in compliance
				with all Federal, state, and/or local regulations.
			</p>
		</div>
		<div id='history' class='services--descs--contain'>
			<h3>Architectural History</h3>
			<p>
				Architectural History is related to the study of historic buildings,
				structures, objects, and other aspects of the “built environment.” These
				historic resources oftentimes yield important information about their
				owner's/architects, function/technology, and how they have been altered
				over time. Investigations can typically includes site plans,
				photographic documentation, measured drawings, architectural analysis
				and description, and comprehensive literature and archival searches.
				This effort is typically undertaken to interpret and preserve our
				collective built heritage, as part of a larger historical account of a
				particular resource/area, or as part of a mitigation process for a
				historically significant resource that cannot be avoided by development.
			</p>
		</div>
		<div id='gis' class='services--descs--contain'>
			<h3>Geographic and Information Services</h3>
			<p>
				Our goal in using Geographic Information Systems (GIS) is to help our
				clients better gain an advantage from the large amount of geographic
				data we have at our disposal. Having this much data at our fingertips
				allows our firm to identify “up front” any project constraints that may
				exist. We are the only cultural resources management firm in the region
				that owns and maintains this amount of data, and we can put it to work
				for you!
			</p>
		</div>
		<div id='cemetery' class='services--descs--contain'>
			<h3>Cemetery Evaluation and Excavation</h3>
			<p>
				Victoria Bunker also offers experience and expertise in cemetery-related
				studies as part of our client services. We have completed cemetery
				projects for energy sector, transportation sector, and private sector
				clients, as well as state agencies. The staff of Victoria Bunker also
				has formulated and operationalized Unanticipated Discovery Plans in a
				wide variety of settings, including housing subdivisions, natural gas
				lines, and electricity utility projects. Victoria Bunker has also
				undertaken the excavation and recovery of human remains from both small
				and large cemeteries that have been endangered by infrastructural
				projects and by natural processes.
			</p>
		</div>
		<div id='gis2' class='services--descs--contain'>
			<h3>Geophysical Services</h3>
			<p>
				Geophysical investigations are a non-invasive way to survey areas of
				archaeological potential. Common types of surveys paired with
				archaeological investigations often include Ground Penetrating Radar,
				Magnetometry, or Metal Detection surveys. At Victoria Bunker, we tailor
				each of our geophysical investigations to project specific goals, and
				often employ these techniques in combinations with Phase I, II, or III
				archaeological investigations.
			</p>
		</div>
	</div>
	<div id='services--images'>
		<img
			width='470'
			height='705'
			id='arch--image'
			class='active'
			alt='Picture of a historical white round church.'
			loading='lazy'
			src='archeology.webp'
		/>
		<img
			width='470'
			height='705'
			id='history--image'
			class=''
			alt='Forrest trail lined with historical walls.'
			loading='lazy'
			src='History.webp'
		/>
		<img
			width='470'
			height='705'
			id='gis--image'
			class=''
			alt='Map of shovel pit test results.'
			loading='lazy'
			src='GIS.webp'
		/>
		<img
			width='470'
			height='705'
			id='cemetery--image'
			class=''
			alt='Image of cemetery headstones'
			loading='lazy'
			src='cemetery.webp'
		/>
		<img
			width='470'
			height='705'
			id='gis2--image'
			class=''
			alt='Topography Map'
			loading='lazy'
			src='GPS.webp'
		/>
	</div>
	<img
		id='mountain'
		src='mountain.svg'
		alt='Icon of a blue mountain range'
		width='1920px'
	/>
</section>

<style>
	#services {
		padding-top: 24px;
		background-color: #fff;
		display: grid;
		grid-template-columns: auto 1.5fr 0.75fr;
		max-width: 1920px;
		scroll-margin-top: 69px;
		overflow: hidden;
		position: relative;
		padding-bottom: 115px;
	}
	/* --- Services Selectors --- */
	#services--selector {
		display: flex;
		flex-direction: column;
		align-items: start;
		position: relative;
		margin-left: 80px;
	}
	#services--selector > h2 {
		color: #194259;
		font-family: Noto Serif;
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: 36px; /* 64.286% */
		letter-spacing: -0.84px;
	}
	.services--button {
		color: #194259;
		font-family: Noto Serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.3px;
		background-color: transparent;
		border: 0px solid #fff;
		margin: 4px 0px;
		text-align: left;
		position: relative;
		transition: all 400ms linear;
		border-left: 2px solid #194259;
		padding: 8px 24px 8px 32px;

		background: -webkit-gradient(
			linear,
			left top,
			right top,
			color-stop(50%, #194259),
			color-stop(50%, #194259)
		);
		background: -webkit-linear-gradient(left, #fff 50%, #194259 50%);
		background: -moz-linear-gradient(left, #fff 50%, #194259 50%);
		background: linear-gradient(to right, #fff 50%, #194259 50%);
		background-size: 200% 100%;
		background-position: 0 0;
		-webkit-transition: background-position 400ms ease-out;
		-moz-transition: background-position 400ms ease-out;
		transition: background-position 400ms ease-out;
	}
	.services--button:hover {
		color: #fff;
		padding-left: 24px;
		margin-left: 8px;
		background-position: -100% 0;
	}
	.services--button.active {
		color: #fff;
		padding-left: 24px;
		margin-left: 8px;
		background-position: -100% 0;
	}
	#services--block {
		position: absolute;
		right: -4px;
		top: 112px;
		width: 8px;
		height: 40px;
		content: '';
		background-color: #0063a7;
		opacity: 1;
		transition: all 200ms linear;
	}
	/* --- Services Desc --- */
	#services--descs {
		padding: 80px 80px 0px 32px;
		transition: all 200ms ease-in;
	}
	.services--descs--contain {
		max-height: 0px;
		overflow-y: hidden;
	}
	.services--descs--contain.active {
		max-height: 100%;
	}
	.services--descs--contain > h3 {
		color: #194259;
		font-family: Noto Serif;
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.45px;
		margin-bottom: 24px;
	}
	.services--descs--contain > p {
		color: #194259;
		font-family: Montserrat;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 133.4%; /* 24.012px */
		letter-spacing: -0.27px;
		margin-bottom: 0px;
	}

	/* --- Services Images --- */
	#services--images {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: calc(100% - 80px);
		z-index: 0;
		margin-right: 80px;
		aspect-ratio: 1 / 1.5;
	}
	#services--images > img {
		position: absolute;
		border-radius: 12px;
		z-index: 5;
		transform: translate(0, 500%);
		max-width: 100%;
		height: auto;
		transition: all 600ms ease-in;
	}
	#services--images > img.active {
		max-height: 100%;
		display: block;
		transform: translate(0, 15%);
		aspect-ratio: 1 / 1.5;
		transition: all 600ms ease-in;
	}
	#mountain {
		position: absolute;
		grid-column: 1 / span 3;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
	/* Mobile Stuff */
	#services--selector--mobile {
		display: none;
	}
	@media only screen and (max-width: 1200px) {
		#services {
			grid-template-columns: auto 1fr;
		}
		#services--images {
			display: none;
		}
	}

	@media only screen and (max-width: 900px) {
		#services {
			grid-template-columns: 1fr;
			padding-bottom: 60px;
		}
		#services--selector {
			display: none;
		}
		#services--selector--mobile {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		#services--selector--mobile > h2 {
			color: #194259;
			font-family: Noto Serif;
			font-size: 56px;
			font-style: normal;
			font-weight: 400;
			line-height: 36px; /* 64.286% */
			letter-spacing: -0.84px;
			margin: 16px 0px 32px 0px;
		}
		#services--picker__mobile {
			font-size: 16px;
			padding: 4px;
			color: #194259;
			font-family: Montserrat;
		}
		#services--descs {
			padding-top: 0px;
		}
		#services--descs {
			padding: 0 24px 0px;
			margin-top: 0px;
		}
		.services--descs--contain > h3 {
			display: none;
		}
		.services--descs--contain > p {
			padding-top: 16px;
		}
		#services--images {
			display: flex;
			margin: 0px;
			justify-content: center;
			width: 250px;
			height: auto;
			justify-self: center;
			margin-top: -32px;
		}
		#services--images > img {
			width: 100%;
		}
		#services--images > img.active {
			transform: translate(0, 56px);
		}
		#mountain {
			height: 100px;
			width: auto;
			align-self: center;
		}
	}
</style>

<script>
	const buttons = document.getElementsByClassName('services--button');

	for (const button of buttons) {
		button.addEventListener('click', (e) => {
			let topic = e.srcElement.dataset.topic;
			console.log(e, topic);
			//---switch active and move Block
			document
				.querySelector('.services--button.active')
				.classList.remove('active');
			e.srcElement.classList.add('active');

			//---hide current Desc & Image
			slideUp();

			//---show correct Desc & Image
			slideDown(topic);
		});
	}

	document
		.getElementById('services--picker__mobile')
		.addEventListener('change', (e) => {
			var topic = e.target.options[e.target.selectedIndex].dataset.topic;
			//---hide current Desc & Image
			slideUp();
			//---show correct Desc & Image
			slideDown(topic);
		});

	function slideUp() {
		var elem = document.querySelector('.services--descs--contain.active');
		elem.classList.remove('active');
		var elem2 = document.querySelector('#services--images > .active');
		elem2.classList.remove('active');
	}
	function slideDown(topic) {
		var elem = document.getElementById(topic);
		elem.classList.add('active');
		var elem = document.getElementById(`${topic}--image`);
		elem.classList.add('active');
	}
</script>
